/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  overflow-x: hidden;
  margin: auto;
  background-image: url(./images/background-edited.jpg);
  background-attachment: fixed;
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
  background-size:cover;
  background-position:center;
  font-family: 'Noto Sans JP', sans-serif;

}
html{
  scroll-behavior: smooth;
}
p {
  font-family: 'Noto Sans JP', sans-serif;
} */